<!-- views/adminDashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Admin Dashboard</h1>

  <!-- Users Section -->
  <h2>Registered Users</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 7%;">S. No</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user,index) => { %>
        <tr>
          <td class="w-auto"><%= index+1 %></td> 
          <td><%= user.firstName %> <%= user.lastName %></td>
          <td><%= user.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

    <!-- Bookings Section -->
    <h2 class="mt-5">Bookings</h2>
   <!-- Bookings Section -->
   <table class="table table-bordered">
     <thead>
       <tr>
        <th style="width: 7%;">S. No</th>
         <th>ID</th>
         <th>User</th>
         <th>Hotel</th>
         <th>Check-in Date</th>
         <th>Check-out Date</th>
       </tr>
     </thead>
     <tbody>
       <% bookings.forEach((booking,index) => { %>
         <tr>
           <td><%= index +1 %></td>
           <td><%= booking._id %></td>
           <td><%= booking.fullName %></td>
           <td><%= booking.hotelName %></td>
           <td><%= booking.checkInDate %></td>
           <td><%= booking.checkOutDate %></td>
         </tr>
       <% }) %>
     </tbody>
   </table>

      <!-- Hotels Section -->
      <h2 class="mt-5">Hotels</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 7%;">S. No</th>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% hotels.forEach((hotel,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= hotel._id %></td>
              <td><%= hotel.HotelName %></td>
              <td> <%= hotel.Category %></td>
              <td><%= hotel.Address.StreetAddress %>, <%= hotel.Address.City %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
