<!-- mybookings.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom CSS for styling -->
    <style>
      
        .booking-card {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .booking-card h2 {
            margin-bottom: 10px;
        }

        .booking-card p {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
    <h1 class="m-4">My Bookings</h1>
    <% if(myBookings.length == 0) {%>
        <div class="alert alert-primary" role="alert">
          No bookings yet.
          </div>
        <%}%>
    <div class="row mx-2">
        <% myBookings.forEach(booking => { %>
            <div class="col-md-4">
                <div class="card booking-card p-0">
                    <div class="card-body">
                        <h2><%= booking.hotelName %></h2>
                        <p><strong>Check-in Date:</strong> <span id="checkInDate_<%= booking._id %>"><%= booking.checkInDate %></span></p>
                        <p><strong>Check-out Date:</strong> <span id="checkOutDate_<%= booking._id %>"><%= booking.checkOutDate %></span></p>
                        <p><strong>Booking Date:</strong> <span id="bookingDate_<%= booking._id %>"><%= booking.bookingDate %></span></p>
                        <!-- Add more details as needed -->
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
    <!-- Bootstrap JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"     crossorigin="anonymous"></script>

</body>

</html>
