<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <title>Users Management</title>
</head>

<body>
  <%- include('../partials/adminNavbar') %>

    <div class="container mt-5">
      <!-- Add user section -->
      <div>
        <h1 class="text-center">Add User</h1>
        <!-- Add User Form -->
        <div class="card mb-5 w-75 mx-auto">
          <div class="card-body">
            <form id="addUserForm" >
              <div class="form-group">
                <label for="addFullName">Full Name</label>
                <input type="text" class="form-control" id="addFullName" name="addFullName" required />
              </div>
              <div class="form-group">
                <label for="addEmail">Email </label>

                <input type="addEmail" class="form-control" id="addEmail" name="addEmail" required />
              </div>
              <div class="form-group">
                <label for="addPassword">Password</label>
                <input type="password" class="form-control" id="addPassword" name="addPassword" required />
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <div id="addUserNotification" class="mt-3"></div>
          </div>
        </div>
      </div>

      <!-- Delete user section -->
      <div>
        <h1 class="text-center">Delete User</h1>
        <div class="card mb-5 w-75 mx-auto">
          <div class="card-body">
            <form id="deleteUserForm">
              <div class="form-group">
                <label for="deleteEmail">Email</label>
                <input type="email" class="form-control" id="deleteEmail" name="deleteEmail" required placeholder="Enter email" />
              </div>

              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
            <div id="deleteNotification" class="mt-3"></div>
          </div>
        </div>
      </div>

      <!-- Users Section -->
      <div>
        <h2 class="text-center">Registered Users</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 7%">S. No</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user,index)=> { %>
              <tr>
                <td class="w-auto">
                  <%= index+1 %>
                </td>
                <td>
                  <%= user.fullName %>
                    <%= user.lastName %>
                </td>
                <td>
                  <%= user.email %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
</body>

<script>
  // Add user
  document.getElementById('addUserForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    const addUserNotification = document.getElementById('addUserNotification');
   
      const formData = {
        fullName: document.getElementById('addFullName').value,
        email: document.getElementById('addEmail').value,
        password: document.getElementById('addPassword').value,
      };


      try {
        const response = await fetch('/admin/users/add-user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        });

        const result = await response.json();
     
        // User added sucessfully
        if (response.ok) {
        addUserNotification.innerHTML = `<div class="alert alert-success">${result.message}</div>`;
        setTimeout(() => {
          window.location.reload();
        }, 2000); 
      } else {
        addUserNotification.innerHTML = `<div class="alert alert-danger">${result.message}</div>`;
      }
    } catch (error) {
      addUserNotification.innerHTML = `<div class="alert alert-danger">An error occurred: ${error.message}</div>`;
    }
    });

    //Delete user
document.getElementById('deleteUserForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const email = document.getElementById('deleteEmail').value;
      const deleteNotification = document.getElementById('deleteNotification');

      try {
        const response = await fetch('/admin/users/delete-user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email })
        });

        const result = await response.json();
        
        deleteNotification.innerHTML = ` <div class="alert ${response.ok ? 'alert-success' : 'alert-danger'}"> ${result.message} </div> `;

        if (response.ok) {
          setTimeout(() => window.location.reload(), 2000); // Refresh the page after 2 seconds
        }

      } catch (error) {
        deleteNotification.innerHTML = `
          <div class="alert alert-danger"> An error occurred: ${error.message} </div> `;
      }
    });
</script>
</html>