<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <title>Users Management</title>
</head>

<body>
  <%- include('../partials/adminNavbar') %>

    <div class="container mt-5">
      <!-- Add user section -->
      <div>
        <h1 class="text-center">Add User</h1>
        <!-- Add User Form -->
        <div class="card mb-5 w-75 mx-auto">
          <div class="card-body">
            <form id="addUserForm" method="POST" action="/admin/users/add" enctype="application/x-www-form-urlencoded">
              <div class="form-group">
                <label for="firstName">first Name</label>
                <input type="text" class="form-control" id="name" name="firstName" required />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete user section -->
      <div>
        <h1 class="text-center">Delete User</h1>
        <div class="card mb-5 w-75 mx-auto">
          <div class="card-body">
            <form id="deleteUserForm" method="POST" action="/admin/users">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="Enter email" />
              </div>

              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Users Section -->
      <div>
        <h2 class="text-center">Registered Users</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 7%">S. No</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user,index)=> { %>
              <tr>
                <td class="w-auto">
                  <%= index+1 %>
                </td>
                <td>
                  <%= user.firstName %>
                    <%= user.lastName %>
                </td>
                <td>
                  <%= user.email %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>